span{
    padding:1%;
    cursor :pointer;
}

.edit {
    border:1x solid black;
    background: blue;
    color:blanchedalmond;
    margin:0 5px;
}
.delete {
    border:1x solid gray;
    background: red;
    color:blanchedalmond;
}